.header-img{
        width: 50%;
        height: 200px;
        background: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Red_Dead_Redemption_2_Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: center;
}
img {       margin-right: 10px;
            margin-bottom: 10 px;
            float: center; }
.header-home{margin-right: 10px;
            margin-bottom: 10 px;
            float: center;}
body {
            margin: 40px 20% 0 32px;
            padding: 0;
            background-image: url(https://i.pinimg.com/originals/4b/34/2a/4b342ad592c8bc629ddd813a6f1bb389.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            line-height: 28px;
            background-size: 100% 100%;
        }

h2{
font-family: mayence-premium,sans-serif;
font-weight: 1000;
font-size: 50px;
font-style: normal;
}
h1{
    font-family: cursive, sans-serif;
    font-size: 60px;
    float: center;
} 
        h2 {
            color: black
        }
        
        div {
            margin-bottom: 18px
        }
        
        hr {
          border: 1px solid #579;
            margin: 22px 0
        } 
        
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #872525;
  color: #4f0b0b;
    
}  
.topnav {
  background-color: black;
  overflow: hidden;
 font-family: mantinia, serif;
font-weight: 400;
font-style: normal;
}

div.background {
  background: url(klematis.jpg) repeat;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
}

div.transbox p {
  margin: 5%;
  color: #000000;
}

.front-page{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: white;
font-family: rooney-web, serif;
font-weight: 400;
font-style:normal;
background-color: black;
}

.card mb-3 {
    font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: white;
font-family: rooney-web, serif;
font-weight: 400;
font-style:normal;
background-color: black;
}
.card{
    font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: black;
font-family: rooney-web, serif;
font-weight: 400;
font-style:normal;
} 

.Gameplay{
 font-family: mantinia, serif;
font-weight: 400;
    font-size: 30;
font-style: normal;
    color: black;
    text-align: center;
}

.list-group{
    
}